<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration   PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="cacheEnabled" value="true"></setting>
		<setting name="lazyLoadingEnabled" value="false"></setting>
		<setting name="multipleResultSetsEnabled" value="true"></setting>
		<setting name="useColumnLabel" value="true"></setting>
		<setting name="useGeneratedKeys" value="false"></setting>
		<setting name="defaultExcutorType" value="SIMPLE"></setting>
		<setting name="defaultStattementTimeout" value="25000"></setting>
		<setting name="mapUnderscoreToCamelCase" value="ture"></setting>
		<setting name="jdbcTypeForNull" value="VARCHAR"></setting>
	</settings>
	
	<typeAliases></typeAliases>

	

</configuration>
